body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "QuickSand", sans-serif;
  color: white;
  background-color: #ff9c9c;
  font-weight: bolder;
}

.container {
  display: grid;
  grid-template-columns: 45% 55%;
  max-height: 100vh;
  padding: 0 4%;
}

.booklistContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
