.header {
  text-align: center;
  font-size: 32px;
  padding: 16px;
  font-family: "EB Garamond", serif;
  font-weight: lighter;
  color: wheat;
}

hr {
  margin: auto;
  padding: 0;
  border: 0.5px solid wheat;
  width: 90%;
}

.listWrapper {
  height: calc(100% - 180px);
  overflow: auto;
}

.list ul {
  list-style-type: none;
  padding: 0 32px;
}

.list li {
  background-color: transparent;
  padding: 10px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 12px 0;
  border: 1px solid wheat;
  color: wheat;
  font-weight: bold;
}
.list li:hover {
  text-decoration: line-through;
  border: 1px solid wheat;
}

.list .title {
  font-size: 20px;
}

.empty {
  padding-bottom: 15px;
  display: flex;
  height: 90%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.emptyImage {
  height: 72px;
  width: 72px;
}
